.componentTitle {
  font-size: 36px;
  display: flex;
  justify-content: center;

  position: relative;
  top: 50px;
}

.componentInfo {
  display: flex;
  justify-content: center;
  position: relative;
  top: 60px;
  color: white;
}

.datePicker-container {
  display: flex;
  justify-content: center;
  margin-top: 30%;
}

.custom-datePicker {
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px 10px;
  padding-right: 20px;
  padding-left: 20px;
  color: black;
}
