#title {
  font-size: 64px;
  text-align: center;
}
#greetingMessage {
  text-align: center;
  font-size: 16px;
}
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-container label {
  font-weight: bold;
  text-align: left;
}
.form-container input {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  border-radius: 6px;
  text-indent: 10px;
}
.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
}

.loginBtn,
.signUpBtn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginBtn {
  background-color: #007bff;
  color: white;
}

.signUpBtn {
  background-color: #007bff;
  color: white;
}

.loginBtn:hover {
  background-color: #0056b3;
}

.signUpBtn:hover {
  background-color: #0056b3;
}
