body {
  background-color: dodgerblue;
}

.profile-title {
  font-size: 48px;
  text-align: center;
}

.profile-info {
  font-size: 16px;
  text-align: center;
}

.profile-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
  max-height: 600px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  border-radius: 6px;
}

.profile-menu-container button {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  margin: 10px 0;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-menu-container button:hover {
  background-color: #0056b3;
}
