.container {
  display: flex;
  flex-direction: column;
}

.Navbar-container {
}

#Nav {
  background-color: rebeccapurple;
  height: 64px;
}

#logo {
  font-size: 48px;
  background-color: red;
  text-align: center;
}

.introduce-container {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  background-color: blue;
}

.info {
  background-color: coral;
}
