body {
  background-color: dodgerblue;
}

.pageNav {
  display: flex;
  gap: 20px;
}

.after-login-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
